body{
    background-color: antiquewhite;
    font-size: 20px;
    text-align: center;    
    
    animation: colorchange 20s infinite;
}
@keyframes colorchange {
    0% {background-color: antiquewhite;}
    
    15%  {background-color: beige;}
    30%  {background-color: darkviolet;}
    40% {background-color: azure;}        
}
.margem{
   width: 500px;
   margin: 100 auto;
}

a {
    color: #63a52a;
    text-decoration: none;
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
}
p{
    top: 700;
    
}

label{
    
    font-size: 15px;
}
.foto{
    
    position: relative;
    top: 1400px;
    
}
    
