body{
    background-color: antiquewhite;
    font-size: 20px;
    text-align: center;      
    animation: colorchange 20s infinite;
}
@keyframes colorchange {
    0% {background-color: antiquewhite;}
    
    15%  {background-color: beige;}
    30%  {background-color: darkviolet;}
    40% {background-color: azure;}        
}
.margem{
   width: 105px;
   margin: 10 auto;
}
.testetop{
    float: right;
    text-indent: -10000px;
    background: transparent url(../images/top.png) no-repeat 0 0;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    margin-right: 12px;
    margin-top: 12px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
}
a {
    color: #63a52a;
    text-decoration: none;
    transition: opacity ease-in-out 0.3s;
    -webkit-transition: opacity ease-in-out 0.3s;
}
p{
    top: 700;
    
}

label{
    
    font-size: 15px;
}
.foto{
    
    position: relative;
    top: 1400px;
    
}
    
